@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   position: fixed;
   background-color: #ffffff;
   width: 100%;
   height: 100%;
   transition: background 1s;

}

.button{
    width: 100px;
    height: 40px;
    background-color:  #5a0b9ba2 ;
    position: relative;
    left: 80%;
    margin-top: -50px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
    

}

.bola{
    width: 35px;
    height: 35px;
    background-color:#5B0B9B   ;
    border-radius: 50%;
    padding: 10px;
    transition: left 2s;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.bola-move{
    left: calc(100% - 40px);
}

.escuro{
    background-color: rgb(17, 1, 37);
}
.quadrado {
    height: 100vh;
    width: 50px;
    position: absolute;
    background-color: #5B0B9B;
}

form{
    left: 125vh;
    position: absolute;
    margin-top: -1px; 
}

.ptr form{
    margin-top: -100px;
}
.ptr button{
    position: absolute;
    height: 20px;
    width: 20px;
    border: none;
    color: #6902bd;
    left: 58%;
    margin-top: -100px; 
    background-color: #5a0b9b00;
    cursor: pointer;
    
}
select{
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    border-color: #ddd;
    
 

}
h1{
    color: #5B0B9B;
    font-size: 4rem;
    padding-top: 0;
    padding-top: 30px;
    margin-left: 800px;
    font-family: "Roboto", sans-serif;
    align-items: center;
    justify-content: center;
}

.imgptr{
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 5vh;
    height: 5vh;
    left: 128vh;
    top: -1px;
}

.ptr{
    justify-content: center;
    align-items: center;
    display: grid;
    margin-top: 20vh;
    position: relative;
    padding-bottom: 10vh;
    
}


input{
    display: grid;
    width: 30vw;
    height: 5vh;
    border: none;
    background-color:none;
    
}

.line{
    display: grid;
    width: 30vw;
    height: 2px;
    background-color: black;
  
}

.imgen{
    display: flex;
    position: absolute;
    width: 5vh;
    height: 5vh;
    left: 128vh;
    top: -1px;
    
}

.ing{
    justify-content: center;
    align-items: center;
    display: grid;
    margin-top: 10px;
    position: relative;
   
    
}

.ing button{
    position: absolute;
    height: 20px;
    width: 20px;
    border: none;
    color: #6902bd;
    left: 58%;
    margin-top: 0px; 
    background-color: #5a0b9b00;
    cursor: pointer;
    
}

footer{
    align-items: center;
    justify-content: center;
    position: relative;
    top: 30vh;
}
.botao{
    position: relative;
    left: 42%;
   bottom: 20vh;
    align-items: center;
   justify-content: center;
   display: flex;
   height: 5vh;
   width: 25vh;
   margin-top: 3vh;
   color: aliceblue;
   background-color: #5B0B9B;
   border-radius: 5px;
   cursor: pointer;
   border: none;
}

.nomes{
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 90vh;
    top: 20px;
}
